:root {
  --font-family: "Roboto", sans-serif;
  --nav-font-family: "Relaway", sans-serif;
  --navy-blue-color: #2e2f42;
  --iris-color: #4d5ae5;
  --slate-color: #434455;
  --white-color: #fff;
  --ocean-color: #404bbf;
  --cloud-color: #f4f4fd;
  --cornflower-color: #e7e9fc;
  --light-slate-color: #8e8f99;
  --light-color: #ffffffff;
}

.body-section {
  font-family: var(--font-family);
  color: var(--slate-color);
}

.psm {
  margin: 0;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris-color);
}

.link {
  text-decoration: none;
}
.span {
  color: var(--navy-blue-color);
}
.list {
  list-style: none;
  display: flex;
}
.nav-elements {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
}
.nav-elements:hover,
.nav-elements:focus {
  color: #404bbf;
}
.nav-link:focus {
  color: #404bbf;
}

.adress {
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  list-style: none;
  display: none;
}
.adress-color {
  color: var(--slate-color);
}

.adress-color:hover,
.adress-color:focus {
  color: var(--ocean-color);
}

.header-section {
  background-color: var(--navy-blue-color);
  max-width: 1440px;
}

.order-service-button {
  background: var(--iris-color);
  color: var(--white-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.64px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  /* padding: 16px 32px; */
  border-radius: 4px;
  display: block;
  align-items: flex-start;
  gap: 10px;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-service-button:hover,
.order-service-button:focus {
  background-color: #404bbf;
}
.advantages-title {
  font-size: 36px;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: var(--navy-blue-color);
  text-align: center;
  color: var(--navy-blue-color);
}
.advantages-sub-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
}
.paragraf {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}
.paragraph-port-cards {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}
.paragraph-port-cards:hover,
.paragraph-port-cards:focus {
  transform: translateY(0%);
}
.section-five-title {
  /*   margin-bottom: 72px;*/
}

.section-c {
  font-size: 36px;
  line-height: 1.11;
  color: var(--navy-blue-color);
  /* margin-bottom: 72px; */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.footer-studio {
  background-color: var(--navy-blue-color);
}
.footer-span {
  color: #f4f4fd;
}
.footer-p {
  max-width: 264px;
  /* margin-bottom: 16px; */
  line-height: 1.5;
  color: var(--cloud-color);
  letter-spacing: 0.02em;
}
/* pagina portfolio*/
.portfolio-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris-color);
  background-color: var(--cloud-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
  box-shadow: #2e2f42 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffffff;
  background-color: #404bbf;
  cursor: pointer;
  border: 1px solid transparent;
}
.h1-portfolio {
  text-align: center;
  font-family: "Roboto" sans-serif;
}
.header-hwiii {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  /* padding-left: 15px;
  padding-right: 15px; */
}
.nav-hwiii {
  display: flex;
  align-items: center;
}
.logo-hwiii {
  /*  margin-right: 76px; */
}
.nav-menu {
  display: none;
  gap: 40px;
}
.studio-link {
  /* padding-top: 24px; */
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-list {
  display: flex;
  gap: 40px;
}
.first-section {
  max-width: 1158px;
  margin: 0 auto;
  /* padding: 0 15px; */
}
.prime-section {
  /* padding: 188px 0; */
  max-height: 600px;
  margin: auto;
}

.s-section {
  /* padding: 120px 0; */
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* .s-section-li {
 margin-right: 24px;
}
.last-section-li {
   margin-right: 0; 
} */
.shadow-section-iv {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.strategy-space {
  width: 100%;
  min-width: 264px;
  /* margin-bottom: 8px; */
}

.customers-title {
  /* margin-bottom: 72px; */
}
.section-iii-img {
  flex-basis: calc((100% - 48px) / 3);
}

.all-img {
  display: block;
}

.section-iv {
  /* padding: 120px 0; */
}
.section-iv-title {
  margin-bottom: 72px;
}
.pictures-section-iv {
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.professional {
  /* padding: 32px 0; */
  text-align: center;
}
.section-iv-name {
  text-align: center;
  /* margin-bottom: 8px; */
}
.second-class {
  /* padding: 0; */
  /* margin: 0; */
  text-align: center;
}
.final-part {
  /* padding: 100px 0; */
}
.footer-logo {
  display: inline-block;
  /* margin-bottom: 16px; */
}
.footer-p-position {
  max-width: 264px;
  /* margin-bottom: 16px; */
}
.main-class {
  /* padding-top: 96px;
  padding-bottom: 120px;*/
}
.port-button-list {
  justify-content: center;
  gap: 24px;
  /* margin-bottom: 72px; */
}
.port-btn {
  /* padding: 12px 24px; */
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
.port-btn:hover,
.port-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.second-port-list {
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.li-lists {
  width: calc((100% - 48px) / 3);
}
.div-app-interface {
  /* padding: 32px 16px; */
  border: 1px solid #e7e9fc;
  border-top: none;
}
.aaa {
  /* margin-bottom: 8px; */
}
.bbb {
  /* margin-left: 0; */
}

.ul-potf {
  /* padding: 0; */
}

.title-people-img {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.social-media-icons {
  display: flex;
  justify-content: space-around;
}
.footer-social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: var(--light-color);
  /* margin-bottom: 16px; */
  font-family: Roboto;
  font-style: normal;
}

.social-media-footer {
  display: inline-flex;
  align-items: flex-start;
  gap: 16px;
  /* width: 208px;
  height: 40px; */
}

.svg-social-media-links {
  /*ok*/
  fill: var(--cloud-color);
}
.svg-social-media-links:hover {
  fill: #31d0aa;
}
.port-links {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.port-links:hover,
.port-links:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.svg-list-port {
  /*ok*/
  width: 40px;
  height: 40px;
}
.first-svg {
  /*ok*/
  width: 100%;
  height: 100%;
  background-color: var(--iris-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.first-svg:hover,
.first-svg:focus {
  background-color: #31d0aa;
}

.list-disc {
  list-style: none;
}

.social-media-design {
  width: 40px;
  height: 40px;
}
.section-iv-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-iv-link:hover,
.section-iv-link:focus {
  background-color: #404bbf;
}
.card-content {
  margin: 0 auto;
  /* padding: 32px 0; */
  display: flex;
  /* width: 232px; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-slate-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover {
  border-color: #404bbf;
  color: #404bbf;
}
.customers-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}
.social-media-svg {
  /* padding-left: 0px; */
}
.section-one-hero {
  display: flex;
  max-width: 1158px;
  /* padding: 0 15px; */
}
/*aici incepe tema 5*/
.studio-style {
  position: relative;
  color: var(--navy-blue-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studio-style::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
  visibility: hidden;
}
.studio-style:focus::after {
  visibility: visible;
}
.studio-style:hover::after {
  visibility: visible;
}
.modal {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 5;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  margin: 1px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-colour 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover {
  background-color: #404bbf;
  border: none;
}

.close-button:focus {
  background-color: #404bbf;
  border: none;
}
.svg-close-button {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover .svg-close-button {
  fill: #ffffff;
}
.close-button:focus .svg-close-button {
  fill: #ffffff;
}
.modal-window-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.image-cards-container {
  position: relative;
  overflow: hidden;
}

.image-cards-container-paragraph {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud-color);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}
.port-links:hover .image-cards-container-paragraph {
  transform: translateY(0%);
  margin: 0;
}
.port-links:focus .image-cards-container-paragraph {
  transform: translateY(0%);
  margin: 0;
}

.d-email-svg {
  margin-left: 16px;
}
.modal-form-paragraph {
  font-weight: 500;
  font-size: 16;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
  margin-bottom: 16px;
  text-align: center;
}
.name-container {
  margin-bottom: 8px;
}
.username {
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate-color);
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
}
.input-container {
  position: relative;
}
.username-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.username-input:focus {
  border-color: #4d5ae5;
}

.modal-form-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
#user-name:focus + .modal-form-svg {
  fill: #4d5ae5;
}
#phone:focus + .modal-form-svg {
  fill: #4d5ae5;
}
#email:focus + .modal-form-svg {
  fill: #4d5ae5;
}
.modal-comment-container {
  margin-bottom: 16px;
}
.text-area-user-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  resize: none;
  outline: transparent;
}
.user-comment {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-area-user-comment:focus {
  border-color: #4d5ae5;
}

.check-box-area {
  margin-bottom: 24px;
}

.check-box-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate-color);
}
.privacy-policy {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-colour 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.check-box-svg {
  fill: transparent;
}
#user-privacy:focus + .check-box-label .privacy-policy {
  outline: 1px solid #404bbf;
}

#user-privacy:checked + .check-box-label .privacy-policy {
  background-color: var(--ocean-color);
  fill: var(--cloud-color);
  border: none;
}
.privacy-policy-link {
  color: var(--iris-color);
}
.terms-and-services-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-label {
  display: flex;
  gap: 24px;
}

.modal-mobile {
  visibility: hidden;
}
@media and (width>=1158px) {
  .section-two {
    display: flex;
  }
}

@media screen and (min-width: 769px) and (max-width: 1158px) {
  .adress {
    display: block;
  }
  .adress-list {
    display: flex;
  }
  .section-two {
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    background-color: var(--cloud-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    visibility: visible;
  }
  .section-iii {
    visibility: visible;
    padding-bottom: 120px;
    flex-direction: row;
  }

  .nav-menu {
    display: flex;
  }
  .mobile-screen {
    display: flex;
  }
  .s-section-list {
    gap: 24px;
    display: flex;
  }
  .social-media-team {
    margin-top: 8px;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .customers-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .customers-list {
    gap: 24px;
    display: flex;
    padding: 0;
  }
  .company-a {
    fill: currentColor;
  }
  .customers-list-li {
    width: calc((100% - 120px) / 6);
    height: 88px;
  }

  .footer-form {
    display: flex;
    gap: 24px;
  }
  .header-title {
    font-family: "Roboto";
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1.12px;
    color: var(--white-color);
    text-align: center;
    line-height: 1.07;
    max-width: 496px;
  }
  .ccc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .customers-position {
    align-items: center;
  }
  .js-open-menu {
    display: none;
  }
  .media-links-portfolio {
    display: flex;
    gap: 16px;
  }
  .footer-subscribe-paragraph {
    margin-bottom: 16px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .email-content {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
  }
  .fotter-subscribtion-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
  }
  .header-div {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 429px) and (max-width: 768px) {
  .nav-menu {
    display: flex;
  }
  .adress {
    display: block;
  }
  .adress-list {
    flex-direction: column;
  }
  .section-iii {
    padding-bottom: 120px;
    display: flex;
  }
  .mobile-screen {
    text-align: center;
  }
  .section-d {
  }
  .social-media-team {
    margin-top: 8px;
    padding-left: 0;
    padding-bottom: 32px;
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .customers-icons {
    gap: 120px;
    display: inline-flex;
    align-items: baseline;
    width: 768px;
    height: 456px;
    flex-wrap: wrap;
    column-gap: 24px;
    justify-content: center;
  }
  .footer-email-container {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    width: 768px;
  }
  .footer-form {
    display: flex;
    gap: 24px;
    justify-content: center;
  }
  .header-title {
    color: var(--white-color);
    text-align: center;

    /* Header 1 */
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 107.143% */
    letter-spacing: 1.12px;
    width: 496px;
  }
  .ccc {
    width: 768px;
    height: 436px;
  }
}

/*mobile-decoration**********************/
.section-two {
  width: 264px;
  height: 112px;
  flex-shrink: 0;
  background-color: var(--cloud-color);
  border-radius: 4px;
  display: none;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 8px; */
}
.s-section-list {
  gap: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 16px;
}
.section-iii {
  /* padding-bottom: 120px;  */
  display: none;
}

.mobile-screen {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.section-d {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}
.social-media-team {
  margin-top: 8px;
  padding-left: 0;
  padding-bottom: 32px;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.customers-section {
  /* padding-top: 120px;*/
  padding-bottom: 96px;
}
.customers-icons {
  gap: 120px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.footer-form {
  display: block;
  gap: 24px;
}
.footer {
  display: flex;
  padding: 96px 0 96px;
}
.footer-email-container {
  display: block;
  width: 398px;
}
.header-title {
  color: var(--white-color);
  text-align: center;

  /* Header 2 */
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  width: 320px;
}
.ccc {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: fit-content;
  height: 432px;
}
.customers-position {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 396px;
  height: 520px;
}
.customers-list {
  gap: 16px;
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  justify-content: center;
  width: 396px;
  height: 520;
  row-gap: 72px;
}
.company-a {
  fill: currentColor;
}
.customers-list-li {
  width: calc((100% - 16px) / 2);
  height: 88px;
}
.mobile-style {
  text-align: center;
}
.social-media-mobile-style {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.media-links-portfolio {
  /*ok*/
  display: flex;
  gap: 16px;
  padding-inline-start: unset;
}
.footer-subscribe-paragraph {
  margin-bottom: 16px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.email-content {
  width: 100%;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 0 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  margin-bottom: 16px;
}
.fotter-subscribtion-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  margin-left: 120px;
}
.header-div {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px 20px;
}
